header {
    background-color: $bg-color-dark;
    color: $text-color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoa{
        font-size: 0;
    }

    // Hamburger menu styles
    .hamburger-menu {
        display: none;
        margin-right: $space-sma;

        @media (max-width: 700px) {
            display: block;
        }
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    @media (max-width: 700px) {
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }
}