header {
    background-color: $bg-color-dark;
    color: $text-color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }
}