.banner-image {
    position: relative;
    text-align: center;
}

.banner-image h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
}

.banner-image img {
    display: block;
}


.lesson-link-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.lesson {
    border: 1px solid black;
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    p {
        margin: {
            top: 24px;
            bottom: 24px;
        }
    }
}

@media (max-width: 750px) {

    .lesson-link-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 500px) {

    .lesson-link-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}


/* main page articles */

.mainpagearticles {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.mainpagearticles article h2 {
    text-align: center;
    font-size: 2em;
}

.mainpagearticles article {
    max-width: 350px;
	margin: 20px;
	padding: 20px;
    border: 1px solid $article-color-bg;
    background-color: $article-color-bg;
    border-radius: 1px;
    text-align: justify;
    color: $text-color-light;
}

.mainpagearticles article h2 a {
    text-decoration: none;
    color: $text-color-light; 
}

.mainpagearticles article h2 a:hover, a:focus, a:active {
    color: white;
}