
.main-nav { 
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: $space-sma;

    ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a {
        text-decoration: none;
        padding: $space-sma;

        &:hover,
        &:visited,
        &:active {
        background-color: $bg-color-light;
        }
    }

    @media (max-width: 700px) {
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    
        ul {
            background-color: $bg-color-light;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        a {
            line-height: 34px;
        }

        &.show {
            height: auto;
        }
    }
    
}

.side-nav {
    color: $text-color-light;
}

.btn-menu {
    display: none;
    margin: $space-sma;

    @media (max-width: 700px) {
        display: block;
    }
}
