/* Main Navigation Bar Styles */
.main-nav { 
    display: flex;
    justify-content: flex-end;
    height: 100px;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        height: 100%;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
    }

    a {
        font-family: $heading-font;
        color: black;
        font-size: 1.2em;
        text-decoration: none;
        text-transform: capitalize;
        padding: 0 $space-sma;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex: 1;

        &:hover,
        &:visited,
        &:active {
            background-color: $bg-color-light;
        }

        &:visited {
            color: black;
        }
    }

    @media (max-width: 700px) {
        height: 0;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    
        ul {
            background-color: $bg-color-medium;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        li {
            width: 100%;
        }

        a {
            line-height: 34px;
            width: 100%;
            &:hover,
            &:visited,
            &:active {
                background-color: $bg-color-light;
            }
        }

        &.show {
            height: auto;
        }
    }    
}

// Hamburger menu styles
.hamburger-menu {
    display: none;
    margin-right: $space-sma;

    @media (max-width: 700px) {
        display: block;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

