.lesson-main {
    display: grid;
    grid-template-columns: 190px 1fr;
}

.side-nav-button {
    display: none;
}

.side-nav ul li a {
    background-color:#f3f300;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#3c4562;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    border: 1px solid #283966;
    text-align: center;

    &:hover {
        background-color:#e0e075;
    }
    
    &:active {
        position:relative;
        top:1px;
    }
}

.side-nav ul li {
    padding: 10px 0px;
}

.side-nav ul {
    margin: 10px;
    padding: 10px;
}


@media (max-width: 700px){
    .lesson-main {
        grid-template-columns: 1fr;
    }

    .side-nav-button {
        display: block;
    }

    .lesson-main nav ul {
        display: none;
    }

    .show .lesson-main nav ul {
        display: block;
    }

}