//Sizes
$min-width: 320px;
$max-width: 1920px;

//Color Schemes
$bg-color-dark: darkgrey;
$bg-color-light: lightgrey;
$wrapper-bg: white;
$text-color-dark: rgb(87, 87, 87);
$text-color-light: white;
$accent-color: rgb(243, 243, 0);
$text-color-headers: rgb(60, 69, 98); 
$article-color-bg: rgb(60, 69, 98);

//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Chivo|Overpass');

//Fonts
$heading-font: 'Chivo', sans-serif;
$body-font: 'Overpass', sans-serif;

//Spacing
$space-sma: 16px;
//$space-med
//$space-lrg